@tailwind base;
@tailwind components;
@tailwind utilities;


/* Customize radio buttons */
input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + span {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    transition: background-color 0.3s;
  }
  
  input[type="radio"]:checked + span {
    background-color: #c3dafe; /* Indigo-100 */
    border: 2px solid #5a67d8; /* Indigo-600 */
  }
  