<div class="flex min-h-screen bg-gray-100">
  <!-- Sidebar -->
  <ng-container *ngIf="isSidebarVisible">
    <div
      [ngClass]="{
        'h-screen bg-indigo-600 text-white transition-all duration-300 flex flex-col': true,
        'w-20 hover:w-64': isCollapsed,
        'w-80': !isCollapsed,
        'fixed z-50 inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0': true,
        'translate-x-0': isMenuOpen,
      }"
      (click)="isMenuOpen = false"
    >
      <div class="flex items-center justify-between p-6">
        <h1 [ngClass]="{'text-3xl font-semibold': true, 'hidden': isCollapsed, 'block': !isCollapsed}">TECVOC</h1>
      </div>
      <div class="flex items-center justify-center mt-10">
        <img
          src="https://png.pngtree.com/background/20230519/original/pngtree-young-woman-anime-cartoon-drawing-picture-image_2660945.jpg"
          alt="Profile"
          class="w-10 h-10 rounded-full"
        />
        <span *ngIf="!isCollapsed" class="ml-2">{{ userName }}</span>
      </div>
      <nav class="mt-10 flex-grow">
        <a *ngIf="userRole === 'user'" routerLink="/inicio" class="sidebar-item flex items-center py-4 px-6 text-gray-300 hover:bg-indigo-400 hover:no-underline focus:no-underline active:no-underline transition-all duration-300">
          <fa-icon [icon]="['fas', 'home']" class="mr-2"></fa-icon>
          <span *ngIf="!isCollapsed" class="mx-4 font-medium">Inicio</span>
        </a>
        <a *ngIf="userRole === 'user'" routerLink="/test" class="sidebar-item flex items-center py-4 px-6 text-gray-300 hover:bg-indigo-400 hover:no-underline focus:no-underline active:no-underline transition-all duration-300">
          <fa-icon [icon]="['fas', 'list']" class="mr-2"></fa-icon>
          <span *ngIf="!isCollapsed" class="mx-4 font-medium">Test</span>
        </a>
        <a *ngIf="userRole === 'user'" routerLink="/resultados" class="sidebar-item flex items-center py-4 px-6 text-gray-300 hover:bg-indigo-400 hover:no-underline focus:no-underline active:no-underline transition-all duration-300">
          <fa-icon [icon]="['fas', 'file-alt']" class="mr-2"></fa-icon>
          <span *ngIf="!isCollapsed" class="mx-4 font-medium">Resultados</span>
        </a>
        <a *ngIf="userRole === 'user'" routerLink="/videos" class="sidebar-item flex items-center py-4 px-6 text-gray-300 hover:bg-indigo-400 hover:no-underline focus:no-underline active:no-underline transition-all duration-300">
          <fa-icon [icon]="['fas', 'video']" class="mr-2"></fa-icon>
          <span *ngIf="!isCollapsed" class="mx-4 font-medium">Videos</span>
        </a>
        <a *ngIf="userRole === 'admin'" routerLink="/cuestionarios" class="sidebar-item flex items-center py-4 px-6 text-gray-300 hover:bg-indigo-400 hover:no-underline focus:no-underline active:no-underline transition-all duration-300">
          <fa-icon [icon]="['fas', 'tasks']" class="mr-2"></fa-icon>
          <span *ngIf="!isCollapsed" class="mx-4 font-medium">Cuestionarios</span>
        </a>
      </nav>
      <div class="mt-auto mb-4">
        <button (click)="logout()" class="sidebar-item flex items-center py-2 px-6 text-gray-300 hover:bg-indigo-400 w-full hover:no-underline focus:no-underline active:no-underline transition-all duration-300">
          <fa-icon [icon]="['fas', 'sign-out-alt']" class="mr-2"></fa-icon>
          <span *ngIf="!isCollapsed" class="mx-4 font-medium">Cerrar sesión</span>
        </button>
      </div>
    </div>
  </ng-container>

  <!-- Main Content -->
  <div class="flex flex-col flex-grow">
    <!-- Navbar -->
    <header class="flex items-center justify-between p-8 bg-indigo-600 text-white shadow-lg mb-8 w-full">
      <div class="flex items-center">
        <button class="md:hidden text-white" (click)="isMenuOpen = !isMenuOpen">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
        <h1 class="text-2xl font-bold text-white ml-4 md:ml-0">User Dashboard</h1>
      </div>
      <div class="flex items-center space-x-4">
        <div class="flex items-center">
          <img
            src="https://pub-static.fotor.com/assets/projects/pages/d5bdd0513a0740a8a38752dbc32586d0/fotor-03d1a91a0cec4542927f53c87e0599f6.jpg"
            alt="Profile"
            class="w-10 h-10 rounded-full"
          />
          <span class="ml-2">{{ userName }}</span>
        </div>
      </div>
    </header>

    <!-- Dashboard Content -->
    <main class="bg-white p-9 rounded-lg flex-grow max-w-4xl mx-auto">
      <section>
        <div *ngIf="userName">
          <h1 class="text-slate-950 text-3xl font-bold text-indigo-100">Bienvenido, {{ userName }}</h1>
        </div>
        <div *ngIf="!userName">
          <p>Cargando...</p>
        </div>
        <div *ngIf="cuestionarios && !showResult">
          <h2 class="text-lg font-semibold text-indigo-700">Test Vocacional</h2>
          <!-- Progreso del test -->
          <div class="flex space-x-1 my-8">
            <div *ngFor="let question of cuestionarios[0].Preguntas; let i = index" 
                class="h-2 flex-1 rounded-full"
                [ngClass]="{'bg-blue-600': i <= currentQuestionIndex, 'bg-gray-300': i > currentQuestionIndex}">
            </div>
          </div>
          <div *ngFor="let pregunta of cuestionarios[0].Preguntas; let i = index" [hidden]="i !== currentQuestionIndex">
            <h2 class="text-xl font-semibold text-gray-800">{{ pregunta.texto }}</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
              <div *ngFor="let opcion of pregunta.opciones" class="flex items-center p-4 border rounded-lg hover:shadow-lg transition duration-150 ease-in-out cursor-pointer" (click)="selectAnswer(pregunta.id, opcion.valor)">
                <input type="radio" name="question-{{i}}" class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out mr-2">
                <span class="text-gray-700">{{ opcion.texto }}</span>
              </div>
            </div>
          </div>
          <div class="mt-6 text-center">
            <button (click)="nextQuestion()" class="bg-indigo-600 text-white px-4 py-2 rounded-full shadow-md hover:bg-indigo-700">Next Question</button>
          </div>
        </div>
        <div *ngIf="showResult" class="flex flex-col items-center justify-center mt-8">
          <h2 class="text-3xl font-bold text-indigo-700">¡Felicitaciones!</h2>
          <h3 class="text-xl font-medium text-gray-800 mt-2">Test Vocacional</h3>
          <p class="text-gray-700 mt-4">Respondiste correctamente</p>
          <p class="text-2xl font-semibold text-indigo-700">{{ correctAnswers }} / {{ totalQuestions }}</p>
          <h3 class="text-xl font-medium text-gray-800 mt-4">Carrera recomendada: {{ recommendedCareer }}</h3>
          <div class="flex space-x-4 mt-6">
            <button (click)="restartTest()" class="bg-indigo-600 text-white px-6 py-2 rounded-full shadow-md hover:bg-indigo-700">Volver a intentar</button>
            <button (click)="goHome()" class="bg-white border border-indigo-600 text-indigo-600 px-6 py-2 rounded-full shadow-md hover:bg-gray-100">Volver al inicio</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
